{% extends 'base.html' %}

{% block content %}
<h1>Find All Weakness related to Attack Description</h1>
<form  method="post">
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
    <input type="submit" name="findDes" value="Find Vulnerability" class="submit-button">
</form> 
<p>  </p>
{% if show_table  %}
<script>
document.getElementById("description").value = "{{ description }}";
</script>

<table>
    <tr>
        <th>CVE-ID</th>
        <th>DESCRIPTION</th>
        <th>CWE-ID</th>
        <th>CWE-NAME</th>
        <th>ATTACK Technique ID</th>
        <th>ATTACK Technique Name</th>
        <th>cosine Smilarity</th>
        <th>Show Info</th>

    </tr>
        {% for row in res %}
        <tr>
            <td>{{ row['CVE_ID'] }}</td>
            <td>{{ row['CVE_Des'] }}</td>
            <td>{{ row['CWE_ID'] }}</td>
            <td>{{ row['CWE_NAME'] }}</td>
            <td>{{ row['ATTACK_target_ID'] }}</td>
            <td>{{ row['ATTACK_techniques_name'] }}</td>
            <td>{{ row['CVE_Smiliraty'] }}</td>
            <td class="last-column"><form  method="post">
                <input type="hidden" name="hidden-data-1" value="{{ row['CVE_ID'] }}">
                <input type="hidden" name="description" value="{{ description }}">

                <input type="submit" name="formfindAllInfo" value="Show Info" class="submit-button">
            </form></td>
        </tr>
        {% endfor %}
        <!-- <td>{{ res[0]['CVE_ID'] }}</td>
         <td>{{ res[1] }}</td>
        <td>{{ res[2] }}</td>
        <td>{{ res[3] }}</td>  
        <td class="last-column"><form  method="post">
            <input type="hidden" name="hidden-data-1" value="{{ res[2] }}">
            <input type="submit" name="formfindAllCWE" value="Show CWEs" class="submit-button">
        </form></td>  -->
    
    
</table> 
{% else %}
{% if cveID %}
<script>
    document.getElementById("description").value = "{{ description }}";
</script>
<p>Result: {{ cveID }}</p>
<form  method="post">
    <input type="hidden" name="description" value="{{ description }}">
    <input type="submit" name="Back" value="Back" class="submit-button">
</form>
<table>
        <tr>
            <th>CVE ID</th>
            <td>{{ res['CVE_ID'] }}</td>

        </tr>
        <tr>
            <th>CVE Description</th>
            <td>{{ res['CVE_Des'] }}</td>
        </tr>
        <tr>
            <th>CWE ID</th>
            <td>{{ res['CWE_ID'] }}</td>
        </tr>
        <tr>
            <th>CWE Name</th>
            <td>{{ res['CWE_NAME'] }}</td>
        </tr>
        <tr>
            <th>CWE Description</th>
            <td>{{ res['CWE_Des'] }}</td>
        </tr>
        <tr>
            <th>CWE Extended Description</th>
            <td>{{ res['CWE_extended_des'] }}</td>
        </tr>
        <tr>
            <th>CWE Detection Methods</th>
            <td>{{ res['CWE_Detection_Methods'] }}</td>
        </tr>
        <tr>
            <th>CWE Potential Mitigations</th>
            <td>{{ res['CWE_Potential_Mitigations'] }}</td>
        </tr>
        <tr>
            <th>ATTACK Procedure ID</th>
            <td>{{ res['ATTACK_Procedure_ID'] }}</td>
        </tr>
        <tr>
            <th>ATTACK Technique ID</th>
            <td>{{ res['ATTACK_target_ID'] }}</td>
        </tr>
        <tr>
            <th>ATTACK Technique Name</th>
            <td>{{ res['ATTACK_techniques_name'] }}</td>
        </tr>
        <tr>
            <th>ATTACK Technique Description</th>
            <td>{{ res['ATTACK_techniques_descriptionTechniques'] }}</td>
        </tr>
        <tr>
            <th>ATTACK procedure Description</th>
            <td>{{ res['ATTACK_procedure_description'] }}</td>
        </tr>
        <tr>
            <th>CAPEC Name</th>
            <td>{{ res['CAPEC_Name'] }}</td>
        </tr>
        <tr>
            <th>CAPEC Description</th>
            <td>{{ res['CAPEC_Description'] }}</td>
        </tr>
        <tr>
            <th>CAPEC Description</th>
            <td>{{ res['CAPEC_Description'] }}</td>
        </tr>
        <tr>
            <th>CAPEC Severity</th>
            <td>{{ res['CAPEC_Typical_Severity'] }}</td>
        </tr>
        <tr>
            <th>CAPEC Execution Flow</th>
            <td>{{ res['CAPEC_Execution_Flow'] }}</td>
        </tr>
        <tr>
            <th>CAPEC Prerequisites</th>
            <td>{{ res['CAPEC_Prerequisites'] }}</td>
        </tr>
        <tr>
            <th>CAPEC Skills Required</th>
            <td>{{ res['CAPEC_Skills_Required'] }}</td>
        </tr>
        <tr>
            <th>CAPEC Resources Required</th>
            <td>{{ res['CAPEC_Resources_Required'] }}</td>
        </tr>
        <tr>
            <th>CAPEC Mitigations</th>
            <td>{{ res['CAPEC_Mitigations'] }}</td>
        </tr>


         
    
</body>
</table> 
{% else %}
<p></p>
{% endif %}
{% endif %}
{% endblock %}
